{% extends "plantilla/plantilla.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %} <title>Registro</title> {% endblock titulo %}

{% block contenido %}
<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img src="{% static 'inicio/img/imagenRegistro.png'%}" alt="">
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="register-box bg-white box-shadow border-radius-10">
                    <div class="wizard-content">
                        <form class="tab-wizard2 wizard-circle wizard" method="POST">
                            {% csrf_token %}
                            <h5>Información de adoptante</h5>
                            <section>
                                <div class="form-wrap max-width-600 mx-auto">
                                    <div class="form-group row">
                                        <div style="color: red;" >
											{{form.errors.username}}
										</div>
                                        <label class="col-sm-4 col-form-label">Usuario </label>
                                        <div class="col-sm-8">
                                            {{form.username}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="color: red;">
											{{form.errors.email}}
										</div>
                                        <label class="col-sm-4 col-form-label">Email</label>
                                        <div class="col-sm-8">
                                            {{form.email}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="color: red;">
											{{form.errors.password2}}
										</div>
                                        <label class="col-sm-4 col-form-label">Contraseña</label>
                                        <div class="col-sm-8">
                                            {{form.password1}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Repetir Contraseña</label>
                                        <div class="col-sm-8">
                                            {{form.password2}}
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Step 2 -->
                            <h5>Información personal</h5>
                            <section>
                                <div class="form-wrap max-width-600 mx-auto">
                                    <div class="form-group row">
                                        <div style="color: red;">
											{{form.errors.first_name}}
										</div>
                                        <label class="col-sm-4 col-form-label">Nombres</label>
                                        <div class="col-sm-8">
                                            {{form.first_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="color: red;">
											{{form.errors.last_name}}
										</div>
                                        <label class="col-sm-4 col-form-label">Apellidos</label>
                                        <div class="col-sm-8">
                                            {{form.last_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="color: red;">
											{{formulario.errors.tipo_documento}}
										</div>
                                        <label class="col-sm-4 col-form-label">Tipo de documento</label>
                                        <div class="col-sm-8">
                                            {{formulario.tipo_documento}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="color: red;">
											{{formulario.errors.documento}}
										</div>
                                        <label class="col-sm-4 col-form-label">Número de documento</label>
                                        <div class="col-sm-8">
                                            {{formulario.documento}}
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Step 3 -->
                            <h5>Información de contacto</h5>
                            <section>
                                <div class="form-wrap max-width-600 mx-auto">
                                    <div class="form-group row">
                                        <div style="color: red;">
											{{formulario.errors.celular}}
										</div>
                                        <label class="col-sm-4 col-form-label">Celular</label>
                                        <div class="col-sm-8">
                                            {{formulario.celular}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="color: red;">
											{{formulario.errors.ciudad}}
										</div>
                                        <label class="col-sm-4 col-form-label">Ciudad</label>
                                        <div class="col-sm-8">
                                            {{formulario.ciudad}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="color: red;">
											{{formulario.errors.direccion}}
										</div>
                                        <label class="col-sm-4 col-form-label">Dirección</label>
                                        <div class="col-sm-8">
                                            {{formulario.direccion}}
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <button type="submit" value="registrar" id="success-modal-btn" hidden data-toggle="modal" data-target="#success-modal" data-backdrop="static">Launch modal</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- success Popup html Start -->



<script src="{% static 'inicio/vendors/scripts/core.js' %}"></script>
<script src="{% static 'inicio/vendors/scripts/script.min.js'%}"></script>
<script src="{% static 'inicio/vendors/scripts/process.js'%}"></script>
<script src="{% static 'inicio/vendors/scripts/layout-settings.js'%}"></script>
<script src="{% static 'inicio/src/plugins/jquery-steps/jquery.steps.js'%}"></script>
<script src="{% static 'inicio/vendors/scripts/steps-setting.js'%}"></script>

{% endblock contenido %}

