{% extends "plantilla/plantilla_home.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %} Actualizar Usuario{% endblock titulo %}
{% block contenido %}

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Actualizar Usuario</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url "Inicio_Admin" %}">Inicio</a></li>
									<li class="breadcrumb-item"><a href="{% url "Usuarios" %}">Usuarios</a></li>
									<li class="breadcrumb-item"><a href="{% url "Lista_usuarios" %}">Listado usuarios</a></li>
									<li class="breadcrumb-item active" aria-current="page">Actualizar Usuario</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
				<!-- Default Basic Forms Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<h4 class="text-blue h4">Actualizar Usuario</h4>
						<p class="mb-30">Formualrio para actualizar Usuario</p>
					</div>
					<div class="wizard-content">
						<form class="tab-wizard wizard-circle wizard" method="POST">
							{% csrf_token %}
							<h5>Información personal</h5>
							<section>
								<div class="row justify-content-md-center">
									<div class="col-md-8">
										<div class="form-group">
											<div style="color: red;">
												{{form.errors.first_name}}
											</div>
											<label >Nombres :</label>
											{{form.first_name}}
										</div>
									</div>
									<div class="col-md-8">
										<div class="form-group">
											<div style="color: red;">
												{{form.errors.last_name}}
											</div>
											<label >Apellidos :</label>
											{{form.last_name}}
										</div>
									</div>
								</div>
								<div class="row justify-content-md-center">
									<div class="col-md-4">
										<div class="form-group">
											<div style="color: red;">
												{{formulario.errors.tipo_documento}}
											</div>
											<label >Tipo de documento :</label>
											{{formulario.tipo_documento}}
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<div style="color: red;">
												{{formulario.errors.documento}}
											</div>
											<label >Número de documento :</label>
											{{formulario.documento}}
										</div>
									</div>
								</div>
								<div class="row justify-content-md-center">
									<div class="col-md-8">
										<div class="form-group">
											<div style="color: red;">
												{{formulario.errors.rol}}
											</div>
											<label >Rol:</label>
											{{formulario.rol}}
										</div>
									</div>
								</div>
							</section>
							<h5>Información de contacto</h5>
							<section>
								<div class="row justify-content-md-center">
									<div class="col-md-8">
										<div class="form-group">
											<div style="color: red;">
												{{formulario.errors.celular}}
											</div>
											<label >Celular :</label>
											{{formulario.celular}}
										</div>
									</div>
									<div class="col-md-8">
										<div class="form-group">
											<div style="color: red;">
												{{formulario.errors.ciudad}}
											</div>
											<label >Ciudad :</label>
											{{formulario.ciudad}}
										</div>
									</div>
								</div>
								<div class="row justify-content-md-center">
									<div class="col-md-8">
										<div class="form-group">
											<div style="color: red;">
												{{formulario.errors.direccion}}
											</div>
											<label >Dirección :</label>
											{{formulario.direccion}}
										</div>
									</div>
									<div class="col-md-8">
										<div class="form-group">
											<div style="color: red;">
												{{formulario.errors.imagen}}
											</div>
											<label >Imagen o Icono:</label>
											{{formulario.imagen}}
										</div>
									</div>
								</div>
							</section>
							<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered max-width-400" role="document">
									<div class="modal-content">
										<div class="modal-body text-center font-18">
											<h3 class="mb-20">Actualizando Usuario!</h3>
											<div class="mb-30 text-center"><img src="{% static "homePage/vendors/images/success.png" %}"></div>
											¿Estas seguro de actualizar este usuario?
										</div>
										<div class="modal-footer justify-content-center">
											<input type="submit" name="" value="Actualizar" class="btn btn-primary">
											<button type="button" style="border-color: brown; background-color: brown;" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						<a href="{% url "Lista_usuarios" %}"style="border-color: brown; background-color: brown;" class="btn btn-primary">Volver</a>
					</div>
				</div>
			</div>	
		</div>
	</div>

{% endblock contenido %}