{% extends "plantilla/plantilla_home.html" %}

{% load static %}
{% block titulo %} Inicio {% endblock titulo %}

{% block contenido %}
    <div class="main-container">
        <div class="pd-ltr-20">
            <div class="card-box pd-20 height-100-p mb-30">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="{% static 'homePage/vendors/images/baner_administrador.jpg'%}" alt=""/>
                    </div>
                    <div class="col-md-8">
						<h4 class="font-20 weight-500 mb-10 text-capitalize">
							BIENVENID@ <div class="weight-600 font-30 text-blue">{{user.username}}</div>
						</h4>
						<p class="font-18 max-width-500">Revisa cada uno de los apartados para mantenerte al día de los registros y actualizaciones, para que gestiones la fundación de la mejor manera.</p>
					</div>
                </div>
            </div>
            <div style=" background-image: url('/static/homePage/vendors/images/banner_gestion_fundacion.jpg');" class="card-box pd-20 height-100-p mb-30">
                <div class="col-md-12 col-sm-12">
                    <div class="title text-center">
                        <h4>Gestiona cada una de las secciones de la fundación</h4>
                    </div>
                </div>
            </div>
            <div class="product-wrap">
                <div class="product-list">
                    <ul class="row">
                        <li class="col-lg-6 col-md-6 col-sm-12">
                            <div class="product-box">
                                <div class="producct-img">
                                </div>
                                <div style="text-align: center;" class="product-caption">
                                    <img style="height: 290px;" src="{% static 'homePage/vendors/images/UsuarioInicioAdmin.jpg'%}" alt=""/>
                                    <h4><a href="#">Usuarios</a></h4>
                                    <div class="price">
                                        <ins>Apartado para gestionar usuarios</ins>
                                    </div>
                                    <a href="{% url "Usuarios" %}"><button class="btn btn-outline-primary">Ir</button></a>                                    
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-6 col-md-6 col-sm-12">
                            <div class="product-box">
                                <div class="producct-img">
                                </div>
                                <div style="text-align: center;" class="product-caption">
                                    <img style="height: 290px;" src="{% static 'homePage/vendors/images/PerritoInicioAdmin.jpg'%}" alt=""/>
                                    <h4><a href="#">Adopciones</a></h4>
                                    <div class="price">
                                        <ins>Apartado para gestionar adopciones</ins>
                                    </div>
                                    <a href="{% url "Adopciones" %}"><button class="btn btn-outline-primary">Ir</button></a>                                    
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-6 col-md-6 col-sm-12">
                            <div class="product-box">
                                <div class="producct-img">
                                </div>
                                <div style="text-align: center;" class="product-caption">
                                    <img style="height: 290px;" src="{% static 'homePage/vendors/images/InventarioInicioAdmin.jpg'%}" alt=""/>
                                    <h4><a href="#">Inventario</a></h4>
                                    <div class="price">
                                        <ins>Apartado para gestionar el inventario</ins>
                                    </div>
                                    <a href="{% url "Inventario" %}"><button class="btn btn-outline-primary">Ir</button></a>                                    
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-6 col-md-6 col-sm-12">
                            <div class="product-box">
                                <div class="producct-img">
                                </div>
                                <div style="text-align: center;" class="product-caption">
                                    <img style="height: 290px;" src="{% static 'homePage/vendors/images/DonacionesInicioAdmin.jpg'%}" alt=""/>
                                    <h4><a href="#">Donaciones</a></h4>
                                    <div class="price">
                                        <ins>Apartado para gestionar Donaciones</ins>
                                    </div>
                                    <a href="{% url "Donaciones" %}"><button class="btn btn-outline-primary">Ir</button></a>                                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style=" background-image: url('/static/homePage/vendors/images/banner_gestion_fundacion_2.jpg'); height: 70px;" class="card-box pd-20 height-100-p mb-30">
                    <div class="col-md-12 col-sm-12">
                        <div class="title text-center">
                            <h4>Historial de registros</h4>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-xl-3 mb-30">
                            <div class="card-box height-100-p widget-style1">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="progress-data" > 
                                        <div id="chart"></div>
                                    </div>
                                    <div style="text-align:center" class="widget-data">
                                        <div  class="h4 mb-0">{{mascotas}}</div>
                                        <div class="weight-600 font-14">Mascotas registradas por {{user.username}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-30">
                            <div class="card-box height-100-p widget-style1">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="progress-data">
                                        <div id="chart2"></div>
                                    </div>
                                    <div style="text-align:center" class="widget-data">
                                        <div class="h4 mb-0">{{articulos}}</div>
                                        <div class="weight-600 font-14">Articulos registrados por {{user.username}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-30">
                            <div class="card-box height-100-p widget-style1">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="progress-data">
                                        <div id="chart4"></div>
                                    </div>
                                    <div style="text-align:center" class="widget-data">
                                        <div class="h4 mb-0">{{entradas}}</div>
                                        <div class="weight-600 font-14">Entradas registradas por {{user.username}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-30">
                            <div class="card-box height-100-p widget-style1">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="progress-data">
                                        <div id="chart3"></div>
                                    </div>
                                    <div style="text-align:center" class="widget-data">
                                        <div class="h4 mb-0">{{salidas}}</div>
                                        <div class="weight-600 font-14">Salidas registradas por {{user.username}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock contenido %}


