{% extends "plantilla/plantilla_home.html" %}
{% block js %}

    <script>
        function inhabilitar(id){
            Swal.fire({
                "title": "¿Estas seguro?",
                "text": "Si inhabilitas este entrada ya no te aparcera en la lista",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, volver",
                "confirmButtonText": "Si, Inhabilitar",
                "reverseButtons": true,
                "confirmButtonColor": "#1b00ff",
                "cancelButtonColor": "red"
            })
            .then(function(result) {
                if(result.isConfirmed){
                    window.location.href = "/articulos/inhabilitar_entrada/"+id
                }
            })
        }
    </script>

{% endblock js %}
{% load static %}
{% block titulo %} Lista entradas {% endblock titulo %}
{% block contenido %}

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Entradas</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "Inicio_Admin" %}">Inicio</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Inventario" %}">Inventario</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Listado entradas</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 style="text-align: center;" class="text-black h4">Lista de Entradas</h4><br>
                        <a href="{% url "Registrar_Entrada" %}"><button style="background-color: #1b00ff;"  class="btn btn-success ">Nuevo Registro</button></a><br>

                    </div>
                            
                    <div class="pb-20">
                        <table class="table hover multiple-select-row data-table-export nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">id</th>
                                    <th>Articulo</th>
                                    <th>Referencia</th>
                                    <th>Fecha Entrada</th>
                                    <th>Cantidad</th>
                                    <th>Estado</th>
                                    <th class="datatable-nosort">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entrada in entradas %}
                                    {% if entrada.estado_entrada == 1 %}
                                        <tr>
                                            <td class="table-plus">{{entrada.id}}</td>
                                            <td>{{entrada.articulo.nombre}}</td>
                                            <td>{{entrada.articulo.referencia}}</td>
                                            <td>{{entrada.fecha_entrada}}</td>
                                            <td>{{entrada.cantidad_entrada}}</td>
                                            <td>{{entrada.get_estado_entrada_display}}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                        <i class="dw dw-more"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                        <a class="dropdown-item" href="{% url "Ver_Entrada" entrada.id %}"><i class="dw dw-eye"></i>Ver</a>
                                                        <a class="dropdown-item" href="{% url "Actualizar_Entrada" entrada.id %}"><i class="dw dw-edit2"></i>Editar</a>
                                                        <a class="dropdown-item" href="#" onclick="inhabilitar({{ entrada.id }})"><i class="dw dw-delete-3"></i>Inhabilitar</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Export Datatable End -->
            </div>
        </div>
    </div>

{% endblock contenido %}
