{% extends "plantilla/plantilla_home.html" %}
{% block js %}

    <script>
        function inhabilitar(id){
            Swal.fire({
                "title": "¿Estas seguro?",
                "text": "Si inhabilitas esta adopción ya no te aparcera en la lista",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, volver",
                "confirmButtonText": "Si, Inhabilitar",
                "reverseButtons": true,
                "confirmButtonColor": "#1b00ff",
                "cancelButtonColor": "red"
            })
            .then(function(result) {
                if(result.isConfirmed){
                    window.location.href = "/mascotas/inhabilitar_adopcion/"+id
                }
            })
        }
    </script>
{% endblock js %}
{% load static %}
{% block titulo %} Lista adopciones {% endblock titulo %}
{% block contenido %}

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>ADOPCIONES</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "Inicio_Admin" %}">Inicio</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Adopciones" %}">Adopciones</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Listado adopciones</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 style="text-align: left;" class="text-black h4">Resumen</h4><br>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 mb-30">
                            <div class="card-box height-100-p widget-style1">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="progress-data">
                                        <div id="chart"></div>
                                    </div>
                                    <div style="text-align:center" class="widget-data">
                                        <div  class="h4 mb-0">{{adopciones_finalizadas}}</div>
                                        <div class="weight-600 font-14">Total adoptados</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-30">
                            <div class="card-box height-100-p widget-style1">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="progress-data">
                                        <div id="chart2"></div>
                                    </div>
                                    <div style="text-align:center" class="widget-data">
                                        <div class="h4 mb-0">{{adopciones_proceso}}</div>
                                        <div class="weight-600 font-14">Adopciones en proceso</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-30">
                            <div class="card-box height-100-p widget-style1">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="progress-data">
                                        <div id="chart3"></div>
                                    </div>
                                    <div style="text-align:center" class="widget-data">
                                        <div class="h4 mb-0">{{adopciones_rechazadas}}</div>
                                        <div class="weight-600 font-14">Adopciones rechazadas</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-30">
                            <div class="card-box height-100-p widget-style1">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="progress-data">
                                        <div id="chart4"></div>
                                    </div>
                                    <div style="text-align:center" class="widget-data">
                                        <div class="h4 mb-0">{{mascotas_rescatadas}}</div>
                                        <div class="weight-600 font-14">Total rescatados</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pd-20">
                        <h4 style="text-align: left;" class="text-black h4">Listado</h4><br>
                        <a href="{% url "Registrar_Adopcion" %}"><button style="background-color: #1b00ff; "  class="btn btn-success ">Nuevo Registro</button></a>
                        <a href="{% url "Lista_adopciones_inhabilitadas" %}"><button type="button" class="btn btn-primary">Inhabilitados</button></a>
                    </div>
                    <div class="pb-20">
                        <table class="table hover multiple-select-row data-table-export nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">id</th>
                                    <th>Mascota</th>
                                    <th>Fecha</th>
                                    <th>Foto</th>
                                    <th>Adoptante</th>
                                    <th>Estado</th>
                                    <th class="datatable-nosort">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                        
                                {% for adopcion in entity %}
                                    {% if adopcion.estado_adopcion == 1%}
                                        <tr>
                                            <td>{{adopcion.id}}</td>
                                            <td>{{adopcion.mascota.nombre }} </td>
                                            <td>{{adopcion.fecha_adopcion|date:"d/m/y" }} </td>
                                            <td>
                                                <img src="{{adopcion.mascota.imagen.url}}" width="95"  alt=""/>
                                            </td>
                                            <td>{{adopcion.adoptante.username}}</td>
                                            <td>{{adopcion.get_estado_adopcion_display}}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                        <i class="dw dw-more"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                        <a class="dropdown-item" href="{% url "Ver_Adopcion" adopcion.id %}"><i class="dw dw-eye"></i>Ver</a>
                                                        <a class="dropdown-item" href="{% url "Actualizar_Adopcion" adopcion.id %}"><i class="dw dw-edit2"></i> Editar</a>
                                                        <a class="dropdown-item" href="#" onclick="inhabilitar({{ adopcion.id}})"><i class="dw dw-delete-3"></i>inhabilitar</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Export Datatable End -->
            </div>
        </div>
    </div>

{% endblock contenido %}
