{% extends "plantilla/plantilla_home.html" %}
{% block js %}

    <script>
        function inhabilitar(id){
            Swal.fire({
                "title": "¿Estas seguro?",
                "text": "Si habilitas este adoptante te aparcera en la lista de adoptantes",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, volver",
                "confirmButtonText": "Si, Habilitar",
                "reverseButtons": true,
                "confirmButtonColor": "#1b00ff",
                "cancelButtonColor": "red"
            })
            .then(function(result) {
                if(result.isConfirmed){
                    window.location.href = "/home_page_admin/habilitar_adoptante/"+id
                }
            })
        }
    </script>
{% endblock js %}
{% load static %}
{% block titulo %} Lista Adoptantes Inhabilitados {% endblock titulo %}
{% block contenido %}

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Adoptantes Inhabilitados</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "Inicio_Admin" %}">Inicio</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Usuarios" %}">Usuarios</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Lista_adoptantes" %}">Listado adoptantes</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Adoptantes Inhabilitados</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 style="text-align: center;" class="text-black h4">Lista de Adoptantes inhabilitados</h4><br>
                        <a href="{% url "Lista_adoptantes" %}"><button style="background-color: #1b00ff; "  class="btn btn-success ">Volver</button></a>
                    </div>
                    		
                    <div class="pb-20">
                        <table class="table hover multiple-select-row data-table-export nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">id</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Correo</th>
                                    <th>Celular</th>
                                    <th>Rol</th>
                                    <th>Estado</th>
                                    <th class="datatable-nosort">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                    {% if usuario.rol == 3%}
                                        <tr>
                                            <td class="table-plus">{{usuario.id}}</td>
                                            <td>{{usuario.user.first_name}}</td>
                                            <td>{{usuario.user.last_name}}</td>
                                            <td>{{usuario.user.email}}</td>
                                            <td>{{usuario.celular}}</td>
                                            <td>{{usuario.get_rol_display}}</td>
                                            <td>{{usuario.get_estado_perfil_display}}</td>

                                            <td>
                                                <div class="dropdown">
                                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                        <i class="dw dw-more"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                        <a class="dropdown-item" href="#" onclick="inhabilitar({{ usuario.id }})"><i class="dw dw-edit2"></i>Habilitar</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Export Datatable End -->
            </div>
        </div>
    </div>
   
{% endblock contenido %}
