{% extends "plantilla/plantilla_home.html" %}
{% block js %}

    <script>
        function inhabilitar(id){
            Swal.fire({
                "title": "¿Estas seguro?",
                "text": "Si inhabilitas esta mascota ya no te aparcera en la lista",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, volver",
                "confirmButtonText": "Si, Inhabilitar",
                "reverseButtons": true,
                "confirmButtonColor": "#1b00ff",
                "cancelButtonColor": "red"
            })
            .then(function(result) {
                if(result.isConfirmed){
                    window.location.href = "/mascotas/inhabilitar_mascota/"+id
                }
            })
        }
    </script>

{% endblock js %}
{% load static %}
{% block titulo %} Lista mascotas {% endblock titulo %}
{% block contenido %}
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>PELUDOS</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "Inicio_Admin" %}">Inicio</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Adopciones" %}">Adopciones</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Listado mascotas</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 style="text-align: center;" class="text-black h4">Peludos en adopción</h4><br>
                        <a href="{% url "Registrar_Mascota" %}"><button style="background-color: #1b00ff;"  class="btn btn-success ">Nuevo Registro</button></a>
                        <a href="{% url "Lista_mascotas_inhabilitadas" %}"><button type="button" class="btn btn-primary">Inhabilitados</button></a>
                    </div>
                            
                    <div  class="pb-20">
                        <table style="text-align: center" class="table hover multiple-select-row data-table-export nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">Nombre</th>
                                    <th>Estado Mascota</th>
                                    <th>Sexo</th>
                                    <th>Foto</th>
                                    <th>Fecha ingreso</th>
                                    <th>Estado</th>
                                    <th class="datatable-nosort">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mascota in entity %}
                                    {% if mascota.estadoRegistro == 1 %}
                                        <tr>
                                            
                                            <td>{{mascota.nombre }} </td>
                                            <td>{{mascota.get_estadoMascota_display }} </td>
                                            <td>{{mascota.get_sexo_display}}</td>
                                            <td>
                                                <img src="{{mascota.imagen.url}}" width="95"  alt=""/>
                                            </td>
                                            <td>{{mascota.fecha_ingreso|date:"d/m/y"}}</td> 
                                            <td>{{mascota.get_estadoRegistro_display}}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                        <i class="dw dw-more"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                        <a class="dropdown-item" href="{% url "Ver_Mascota" mascota.id %}"><i class="dw dw-eye"></i>Ver</a>
                                                        <a class="dropdown-item" href="{% url "Actualizar_Mascota" mascota.id %}"><i class="dw dw-edit2"></i> Editar</a>
                                                        <a class="dropdown-item" href="#" onclick="inhabilitar({{ mascota.id}})"><i class="dw dw-delete-3"></i>Inhabilitar</a>
                                                        
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
