{% extends "plantilla/plantilla_home.html" %}
{% load static %}
{% block contenido %}
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Nuevo registro</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "Inicio_Admin" %}">Inicio</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Usuarios" %}">Usuarios</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Lista_adoptantes" %}">Listado adoptantes</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Nuevo registro</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Nuevo registro</h4><br>
                        </div>
                        
                    </div>
                    <form action="" method="post">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Nombres</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="text" placeholder="Sus nombres" name="nombresAdoptante">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Apellidos</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="text" placeholder="Sus apellidos" name="apellidosAdoptante">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Tipo Documento</label>
                            <div class="col-sm-12 col-md-10">
                                <select class="custom-select col-12" name="tipoDocumento">
                                    <option selected="">Selecciona</option>
                                    <option value="1">CC</option>
                                    <option value="2">TI</option>
                                    <option value="3">CE</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Documento</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="text" placeholder="documento" name="documento">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Usuario</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="text" placeholder="usuario" name="usuario">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Contraseña</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="password" placeholder="contraseña" name="contraseña">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Repetir contraseña</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="password" placeholder="Repetir contraseña" name="confirmarContraseña">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Celular</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="text" placeholder="celular" name="celular">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Ciudad</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="text" placeholder="ciudad" name="ciudad">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Dirección</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="text" placeholder="direccion" name="direccion">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Correo</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="text" placeholder="correo" name="correo">
                            </div>
                        </div>
                        <input type="submit" name="" value="registrar" class="btn btn-primary">
                    </form>
                    <br>
                    <a href="{% url "Lista_adoptantes" %}"><button style="border-color: brown; background-color: brown;" class="btn btn-primary">Cancelar</button></a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock contenido %}