{% extends "plantilla/plantilla_vete.html" %}

{% load static %}
{% block titulo %} Lista adopciones {% endblock titulo %}
{% block contenido %}
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>ADOPCIONES</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "Inicio_Veter" %}">Inicio</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Adopciones_Vete" %}">Adopciones</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Lista_adopciones_vete" %}">Listado Adopciones</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Inhabilitados</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 style="text-align: center;" class="text-black h4">Lista de adopciones inhabilitas</h4><br>
                        <a href="{% url "Lista_adopciones_vete" %}"><button style="background-color: #1b00ff;"  class="btn btn-success ">Volver</button></a><br>

                    </div>
                            
                    <div class="pb-20">
                        <table class="table hover multiple-select-row data-table-export nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">id</th>
                                    <th>Fecha</th>
                                    <th>Mascota</th>
                                    <th>Foto</th>
                                    <th>Usuario</th>
                                    <th>Nombre y apellido</th>
                                    <th>Estado</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                        
                                {% for adopcion in entity %}
                                        <tr>
                                            <td>{{adopcion.id}}</td>
                                            <td>{{adopcion.fecha_adopcion }} </td>
                                            <td>{{adopcion.mascota.nombre }} </td>
                                            <td>
                                                <img src="{{adopcion.mascota.imagen.url}}" width="95"  alt=""/>
                                            </td>
                                            <td>Usuario</td>
                                            <td>Daniela </td>
                                            <td>{{adopcion.get_estado_adopcion_display}}</td>
                                            
                                        </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Export Datatable End -->
            </div>
        </div>
    </div>
{% endblock contenido %}
