{% extends "plantilla/plantilla_vete.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block titulo %} Actualizar mascota{% endblock titulo %}

{% block contenido %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Actualizar mascota</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url "Inicio_Veter" %}">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="{% url "Adopciones_Vete" %}">Adopciones</a></li>
                                <li class="breadcrumb-item"><a href="{% url "Lista_mascotas_vete" %}">Listado Mascotas</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Actualizar</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Actualiza una mascota</h4><br>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row justify-content-md-center">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div style="color: red;">
                                    {{formulario.errors.nombre}}
                                </div>
                                <label >Nombre de la Mascota:</label>
                                {{formulario.nombre}}
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div style="color: red;">
                                    {{formulario.errors.caracteristicas}}
                                </div>
                                <label >Caracteristicas:</label>
                                {{formulario.caracteristicas}}
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div style="color: red;">
                                    {{formulario.errors.estadoMascota}}
                                </div>
                                <label >Estado de la Mascota:</label>
                                {{formulario.estadoMascota}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div style="color: red;">
                                    {{formulario.errors.sexo}}
                                </div>
                                <label >Sexo:</label>
                                {{formulario.sexo}}
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div style="color: red;">
                                    {{formulario.errors.raza}}
                                </div>
                                <label >Raza:</label>
                                {{formulario.raza}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >Edad:</label>
                                {{formulario.edad}}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div style="color: red;">
                                    {{formulario.errors.edad_m_a}}
                                </div>
                                <label >Años o Meses:</label>
                                {{formulario.edad_m_a}}
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div style="color: red;">
                                    {{formulario.errors.imagen}}
                                </div>
                                <label >Foto de la mascota:</label>
                                {{formulario.imagen}}
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <input type="submit" name="" value="Actualizar" class="btn btn-primary">&emsp;&emsp; 
                        <a href="{% url "Lista_mascotas_vete" %}" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    

{% endblock contenido %}

