{% extends "plantilla/plantilla_vete.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block titulo %} Actualizar mascota{% endblock titulo %}

{% block contenido %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Actualizar mascota</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url "Inicio_Veter" %}">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="{% url "Adopciones_Vete" %}">Adopciones</a></li>
                                <li class="breadcrumb-item"><a href="{% url "Lista_mascotas_vete" %}">Listado Mascotas</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Actualizar</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Actualiza una mascota</h4><br>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {% if messages %}
        
                            {% for mensaje in messages %}
            
                                {{mensaje}}

                            {% endfor %}
        
                        {% endif %}
                        
                        {{formulario|crispy}}
                    <input type="submit" name="" value="Actualizar" class="btn btn-primary">
                    <a href="{% url "Lista_mascotas_vete" %}" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
    

{% endblock contenido %}

