{% extends "plantilla/plantilla_vete.html" %}

{% load static %}
{% block titulo %} Lista seguimientos {% endblock titulo %}
{% block contenido %}
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>SEGUIMIENTOS ADOPCIÓN</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "Inicio_Veter" %}">Inicio</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Adopciones_Vete" %}">Adopciones</a></li>
                                    <li class="breadcrumb-item"><a href="{% url "Perritos_vete" %}">Peludos</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Lista seguimiento de adopción</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 style="text-align: center;" class="text-black h4">Lista de seguimiento de adopción</h4><br>

                    </div>
                            
                    <div class="pb-20">
                        <table class="table hover multiple-select-row data-table-export nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">id</th>
                                    <th>Mascota</th>
                                    <th>Fase</th>
                                    <th>Estado</th>
                                    <th>Fecha</th>
                                    <th>Estado seguimiento</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for seguimientoadopcion in peticion %}
                                    {% if seguimientoadopcion.estado_seguimiento == 1%}
                                        <tr>
                                            <td>{{seguimientoadopcion.id}}</td>
                                            <td>{{seguimientoadopcion.solicitud_adopcion.mascota.nombre}}</td>
                                            <td>{{seguimientoadopcion.get_fase_display }} </td>
                                            <td>{{seguimientoadopcion.get_estado_fase_display}}</td>
                                            <td>{{seguimientoadopcion.fecha_seguimiento }} </td>
                                            <td>{{seguimientoadopcion.get_estado_seguimiento_display}}</td>
                                            
                                        </tr>
                                    {% endif %}
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
