{% extends "plantilla/plantilla_adoptante.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block titulo %} Mis seguimientos {% endblock titulo %}

{% block contenido %}

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>ADOPCIONES</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "Inicio_Adoptante" %}">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Mis seguimientos</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 style="text-align: center;" class="text-black h4">Mis Seguimientos</h4><br>
                    </div>
                    <div class="pb-20 center">
                        {% for seguimiento  in entity %}
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <img style="width: 150px;" class="card-img-top mb-2" src="{{seguimiento.solicitud_adopcion.mascota.imagen.url}}" alt="" />
                            </div>
                            <div class="col-lg-9 text-center">
                                <dl class="row">
                                    <dt class="col-sm-2" style="margin-top: 20px;">Nombre:</dt>
                                    <dd class="col-sm-4" style="margin-top: 20px;">{{seguimiento.solicitud_adopcion.mascota.nombre}}</dd>
                                    <dt class="col-sm-2" style="margin-top: 20px;">Estado:</dt>
                                    <dd class="col-sm-4" style="margin-top: 20px;">{{seguimiento.get_estado_fase_display}}</dd>
                                    <dt class="col-sm-2" style="margin-top: 20px;">Fecha:</dt>
                                    <dd class="col-sm-4" style="margin-top: 20px;">{{seguimiento.fecha_seguimiento|date:"d/m/y"}}</dd>
                                    <dt class="col-sm-2" style="margin-top: 20px;">Actualización:</dt>
                                    <dd class="col-sm-4" style="margin-top: 20px;">{{seguimiento.updated|date:"d/m/y"}}</dd>
                                    <dt class="col-sm-2" style="margin-top: 20px;">Fase:</dt>
                                    <dd class="col-sm-9" style="margin-top: 20px;">
                                        {% if seguimiento.fase == 1  %}
                                        <div class="badge-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="40">50%</div>
                                        {% elif seguimiento.fase == 2 %}
                                        <div class="badge-warning" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="60">75%</div>
                                      {% elif seguimiento.fase == 3 %}
                                        <div class="badge-info" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="90">90%</div>
                                        {% elif seguimiento.fase == 4 %}
                                        <div class="badge-success" role="" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                      {% endif %}
                                    </dd>
                                    <dd class="col-sm-1" style="margin-top: 20px;"></dd>
                                </dl>
                            </div>
                        </div>
                        {% endfor %}
                        {% include "paginas/paginator.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}