{% extends "plantilla/plantilla_home.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block titulo %} Ver Donación{% endblock titulo %}

{% block contenido %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Ver donación</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url "Inicio_Admin" %}">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="{% url "Inventario" %}">Inventario</a></li>
                                <li class="breadcrumb-item"><a href="{% url "Lista_donaciones" %}">Lista de donaciones</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Ver Donación</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Ver Donación</h4><br>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                        {% if messages %}
        
                            {% for mensaje in messages %}
            
                                {{mensaje}}

                            {% endfor %}
        
                        {% endif %}
                        
                        {{formulario|crispy}}
                </form>
                <br>
                <a href="{% url "Lista_donaciones" %}"style="border-color: brown; background-color: brown;" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>
</div>
    

{% endblock contenido %}

