{% extends "plantilla/plantilla_vete.html" %}

{% load static %}
{% block titulo %} Inicio {% endblock titulo %}

{% block contenido %}
    <div class="main-container">
        <div class="pd-ltr-20">
            <div class="card-box pd-20 height-100-p mb-30">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="{% static 'homePage/vendors/images/InicioVeter.jpg'%}" alt=""/>
                    </div>
                    <div class="col-md-8">
						<h4 class="font-20 weight-500 mb-10 text-capitalize">
							BIENVENID@ <div class="weight-600 font-30 text-blue">{{user.username}}</div>
						</h4>
						<p class="font-18 max-width-500">Revisa cada uno de los apartados para mantenerte al día de los registros y actualizaciones, y gestiona de manera correcta las mascotas.</p>
					</div>
                </div>
            </div>
            <div style=" background-image: url('/static/homePage/vendors/images/banner_gestion_fundacion.jpg');" class="card-box pd-20 height-100-p mb-30">
                <div class="col-md-12 col-sm-12">
                    <div class="title text-center">
                        <h4>Gestiona las mascotas y salidas de la fundación.</h4>
                    </div>
                </div>
            </div>
            <div class="product-wrap">
                <div class="product-list">
                    <ul class="row">
                        <li class="col-lg-6 col-md-6 col-sm-12">
                            <div class="product-box">
                                <div class="producct-img">
                                </div>
                                <div style="text-align: center;" class="product-caption">
                                    <img style="height: 290px;" src="{% static 'homePage/vendors/images/PerritoInicioAdmin.jpg'%}" alt=""/>
                                    <h4><a href="#">Adopciones</a></h4>
                                    <div class="price">
                                        <ins>Apartado para gestionar adopciones</ins>
                                    </div>
                                    <a href="{% url "Adopciones_Vete" %}"><button class="btn btn-outline-primary">Ir</button></a>                                    
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-6 col-md-6 col-sm-12">
                            <div class="product-box">
                                <div class="producct-img">
                                </div>
                                <div style="text-align: center;" class="product-caption">
                                    <img style="height: 290px;" src="{% static 'homePage/vendors/images/InventarioInicioAdmin.jpg'%}" alt=""/>
                                    <h4><a href="#">Inventario</a></h4>
                                    <div class="price">
                                        <ins>Apartado para gestionar el inventario</ins>
                                    </div>
                                    <a href="{% url "Inventario_veterinario" %}"><button class="btn btn-outline-primary">Ir</button></a>                                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div style=" background-image: url('/static/homePage/vendors/images/banner_gestion_fundacion_2.jpg'); height: 70px;" class="card-box pd-20 height-100-p mb-30">
                <div class="col-md-12 col-sm-12">
                    <div class="title text-center">
                        <h3>Historial Médico</h3>
                    </div>
                </div>
            </div>
            <div class="blog-wrap">
                <div class="container pd-0">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="blog-list">
                                <ul>
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="blog-img">
                                                    <img class="bg_img" src="{% static 'homePage/vendors/images/historial_mascota.png'%}" alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-12 col-sm-12">
                                                <div class="blog-caption text-center">
                                                    <br>
                                                    <h3>Plantilla de Historial Médico</h3>
                                                    <br>
                                                    <div class="blog-by">
                                                        <p>La plantilla de historial medico le permite al veterinario,
                                                            registrar los datos obtenidos despues de realizar una evaluación acerca
                                                            del estado de salud de la mascota.
                                                        </p>
                                                        <div class="pt-10">
                                                            <a href="{% url 'descargar_archivo' 'historial_medico.pdf' %}" download>
                                                                <button class="btn btn-primary">Descargar Archivo</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}


